* {
  margin: auto;
  padding: auto;
}

.container {
  background-color: burlywood;
  padding: 20px;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
}

.container input {
  width: 100%;
  padding: 5px;
  border: 1px solid red;
  box-sizing: border-box;
  margin-bottom: 15px;
  margin-top: 5px;
  resize: vertical;
  border-radius: 10px;
}

.sub-container input {
  width: 50px;
  padding-left: 5px;
  margin-right: 10px;
}

#submit {
  background-color: green;
  cursor: pointer;
  margin: auto;
  padding: auto;
  width: 100%;
}

table th {
  border: 2px solid black;
  height: 50px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 15px;
}
